.Container {
    width: 1200px auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('/images/work.jpg');
    object-fit: scale-down;
    color: white;
}

.Title {
    font-size: 140px;
}

.SubTitle {
    font-size: 90px;
}

.Description {
    font-size: 30px;
}